* {
  /* background-color: #809BCE; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #809BCE; */
}

a {
  color: black;
}

.header,.navbar-menu {
  background-color: #B8E0D2;
  margin: 0;
  padding: 0;
}

.about,.portfolio,.form,.resume {
  background-color: #809BCE;
  margin: 0;
  padding: 0;
}

.icon:hover {
  opacity: 0.5;
}

.navbar-item {
  background-color: #B8E0D2;
}

.navbar-menu {
  padding: 0;
  margin: 0;
}

.column {
  border: 2px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 225px;
  height: 225px;
}


.column:hover .portGit {
  display: block;
  opacity: 1;
}

.portGit {
  display: none;
  margin: auto;
  text-align: center;
  background-color: #EAC4D5;
}

.box {
  margin: 100px;
}

.form {
  margin-bottom: 100px;
}

.c1 {
  background-image: url('/public/images/weather-app.png');
  
}

.c2 {
  background-image: url('/public/images/trees.jpeg');
  
}

.c3 {
  background-image: url('/public/images/tech-blog.png');
  
}

.c4 {
  background-image: url('/public/images/social.jpeg');
  
}

.c5 {
  background-image: url('/public/images/budget.png');
}

.c6 {
  background-image: url('/public/images/dogs.png');
}

.foot {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #EAC4D5;
  width: 100%;
  padding: 0;
}

.footer {
  padding: 0;
}

.button {
  background-color: #B8E0D2;
}
